/* VARIABLES */

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

/* MOBILE FIRST */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}

.main-container {
  padding: 2rem;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.title {
  text-align: center;
}

.title h2 {
  line-height: 1.8rem;
  margin: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.title p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  color: var(--dark-grayish-magenta);
}

.ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.rating__description {
  font-size: 0.8rem;
  margin-top: 0.8rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
}

.rating__stars {
  display: flex;
  align-items: center;
}

.rating__stars img {
  margin: 0 1px;
}

.reviews {
  width: 100%;
  margin-top: 1.5rem;
}

.review {
  background-color: var(--very-dark-magenta);
  border-radius: 0.5rem;
  padding: 2.4rem 2.1rem;
  margin: 1rem 0;
  max-height: 15rem;
}

.review__user-profile {
  display: flex;
  justify-content: start;
  margin-bottom: 1.8rem;
}

.review__user-profile img {
  border-radius: 50%;
  width: 40px;
  margin-right: 1.5rem;
}

.name-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name-profile h6 {
  color: var(--white);
  font-weight: 700;
  font-size: 0.7rem;
}

.name-profile p {
  color: var(--soft-pink);
  font-size: 0.7rem;
  font-weight: 400;
}

.review__comment {
  color: var(--white);
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.3rem;
}

.attribution {
  margin-top: 4rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
  .main-container {
    width: 1440px;
    padding: 10rem 15rem;
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-size: 47rem;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .title {
    text-align: left;
    width: 45%;
    min-width: 300px;
    margin-right: 2rem;
  }

  .ratings {
    width: 550px;
  }

  .title h2 {
    width: 90%;
    line-height: 3.5rem;
    margin: 1rem 0;
    font-size: 3.4rem;

    letter-spacing: -2px;
  }

  .title p {
    width: 80%;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
    letter-spacing: -1px;
  }

  .rating {
    height: 3.8rem;
    max-width: 30rem;
    min-width: 22rem;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0.9rem 0;
  }
  .rating__stars {
    margin: 0 2rem;
  }

  .rating__stars img {
    margin: 0 4px;
  }

  .rating__description {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }

  #rat-1 {
    align-self: flex-start;
  }
  #rat-2 {
    align-self: center;
  }
  #rat-3 {
    align-self: flex-end;
  }

  .reviews {
    display: flex;
    justify-content: space-between;
    height: 270px;
    min-width: 655px;
  }

  .review {
    width: 350px;

    max-height: 500px;
    margin: 0 10px;
  }

  .review__user-profile img {
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
  }

  #rev-1 {
    align-self: flex-start;
  }

  #rev-2 {
    align-self: center;
  }

  #rev-3 {
    align-self: flex-end;
  }

  .name-profile h6 {
    font-size: 0.8rem;
  }

  .name-profile p {
    font-weight: 400;
  }

  .review__comment {
    font-size: 0.85rem;
  }
}

/* @media (max-width: 1300px) {
  #rev-1 {
    align-self: flex-start;
  }

  #rev-2 {
    align-self: flex-start;
  }

  #rev-3 {
    align-self: flex-start;
  }

  .review {
    height: 300px;
  }

  .review__user-profile {
    margin-bottom: 1rem;
  }
} */
